
html body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    line-height: 1;
    letter-spacing: 0.3em;
    margin: 0 auto;
    width: 100%;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 40px 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    line-height: 1;
    letter-spacing: 0.5em;
}

.linksbar {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    color: #fff;
    text-decoration: none;
}

.linksbar > p {
    margin-right: 3rem;
    color: #fff;
}

#presentation{
    position: absolute;
    overflow: hidden;
    top: 10%;
    margin-left: 11%;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    line-height: 1;
    letter-spacing: 0.5em;
}

#presentation .works {
    top: 5%;
}


p, h1, a {
    color: #fff;
}


.sky-color{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: linear-gradient( 110.8deg, rgb(2, 0, 15)40%,  rgba(1,10,30,1) 95% );
    z-index: -200;
}

#logoimage{
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 1000;
    color: #fff;
}

#logoimage .works{
    font-size: 1.4rem;
}

.title{
    top: 5%;
    line-height: 2rem;
    margin-left: 0.5rem;
}

.name{
    font-size: 7rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    font-weight: 500;
    text-shadow: 0 10px 30px rgba(1, 37, 83, 0.63);
}



#show{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    margin-left: 20%;
}



#skills, #tools, #knowledge {
    position: relative;
    margin: 3% 12% 0 10%;
    color: #fff;
}

#flex {
    display: flex;
    justify-content: space-between;
}

li {
    padding: 0.5em;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-weight: 100;
}

.bold{
    font-weight: bold;
}

.titleskills{
    display: flex;
    margin: 0 auto 5% auto;
}



table{
    justify-content: flex-end;
    align-items: flex-end;
    letter-spacing: 0;
    color: #fff;
}
.jumbotron{
  margin-top: 50px;
}

td {
    padding: 10px;
    line-height: 1.5em;}

th {
    padding: 10px 0 50px 10px;
    text-align: left;
}

.carousel{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
}

img{
  max-width: 900px;
}


.works {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    line-height: 1;
}


/**.container{
    max-width: 100px !important;
}**/


.col {
    justify-content: center;
    align-content: space-around;
}


.about, .portweb, .contact{
    font-size: 4.4rem;
    letter-spacing: 0.1em;
    text-shadow: 0 10px 15px rgba(2, 11, 22, 0.2);
    color: #ff4d5a;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 100px;
}



.perfil{
    line-height: 1.5em;

}

.row{
    max-width: 2000px;
    margin: 0 auto;
}


/** Media Queries **/

@media only screen and (max-width: 500px) {
  .name {
    font-size: 20vw;
}
  .about{
    font-size: 20vw;
  }
  .portweb{
  font-size: 13vw;
}
  .contact{
  font-size: 15vw;
}
  .linksbar {
    display: inline-flex;
    align-items: flex-start;
    justify-content:flex-start;
    margin: 30px auto;
}
}
