
html {
    box-sizing: border-box;
}
Body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    line-height: 1;
    letter-spacing: 0.5em;
}


header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 40px 0;
}

a{
    text-decoration: none;
}

#navbar {
    display: flex; 
    position: relative;
    margin-right: 3rem;
}

#navbar > p {
    margin-right: 3rem;
}

#presentation{
    position: absolute;
    overflow: hidden;
    top: 10%;
    margin-left: 11%;
}

.sky-color{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: linear-gradient( 110.8deg, rgb(2, 0, 15)40%,  rgba(1,22,56,1) 95% );
    z-index: -200;
}
#logo{
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 1000;
    color: #fff;
}

#title{
    top: 5%;
    margin-left: 2%;
    line-height: 2rem;
}

#name{
    font-size: 7rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    font-weight: 500;
    text-shadow: 0 10px 30px rgba(1, 37, 83, 0.63); 
    margin-left: 1%;
}



#show{
    display: flex;
    margin: auto;
    align-items: center; 
    justify-content: center;
    margin-top: 15%;
    margin-left: 20%;
}

.portfolio{
    position: absolute;
    font-size: 4.4rem;
    letter-spacing: 0.1em;
    text-shadow: 0 10px 15px rgba(2, 11, 22, 0.2);
    color: #ff4d5a;
    text-transform: uppercase;
    font-weight: bolder;
    
}

#skills, #tools, #knowledge {
    position: relative;
    margin: 3% 12% 0 10%;
}

#flex {
    display: flex;
    justify-content: space-between;
}

li {
    padding: 0.5em;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-weight: 100;
}

.bold{
    font-weight: bold;
}

.toolsdesign{
    display: flex;
    margin: 10% 5% 0 12%;
}

.perfil{
    display: flex;
    flex-direction: row-reverse;
    margin: 12% 22% 0 12%;
    line-height: 1.5em;
    letter-spacing: 0.05;
}

table{
    justify-content: flex-end;
    align-items: flex-end;
    letter-spacing: 0;
    margin: 3% 22% 20% 12%;
    width: 80%;
}

td {
    padding: 10px;
    line-height: 1.5em;}

th {
    padding: 10px 0 50px 10px;
    text-align: left;
}